/* @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700); */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* html {
  font: 18px 'Noto Sans', Arial, sans-serif;
  background: #333;
}
body {
  padding: 20px;
} */
/* h1 {
  text-align: center;
  color: #f0f0f0;
  margin-bottom: 1em;
} */
/* body {
	background-color: #f8fafc;
} */

/* .container {
	padding: 2rem;
} */

.slider-wrapper {
	position: relative;
	/* max-width: 48rem; */
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none;
	/* Hide scrollbar IE and Edge */
	scrollbar-width: none;
	/* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}